@{
    ViewData["Title"] = "Listado de Provedor";
}

<h2>Listado de provedores</h2>
<p>
    Haga click en el siguiente enlace para generar el documento
</p>
<form asp-action="Listadoprovedor" asp-controller="pdfP">
    <input type="submit" class="btn btn-success" value="Generar pdf" />

</form>