@{
    ViewData["Title"] = "Listado de Registro";
}

<h2>Listado de Registros clientes</h2>
<p>
    Haga click en el siguiente enlace para generar el documento
</p>
<form asp-action="ListadoRegistro" asp-controller="pdfC">
    <input type="submit" class="btn btn-success" value="Generar pdf" />

</form>