@{
    ViewData["Title"] = "Listado de provedor";
}

<h2>Listado de Ventas</h2>
<p>
    Haga click en el siguiente enlace para generar el documento
</p>
<form asp-action="Listadopersonapdfv" asp-controller="pdfV">
    <input type="submit" class="btn btn-success" value="Generar pdf" />

    </form>